lead_alert.json
{
  "name": "lead-alert",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1yHlM6VK94J8jquoEvgn-LR99NVk-mB-6wICI4wupRWo",
          "mode": "list",
          "cachedResultName": "Contact Information (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yHlM6VK94J8jquoEvgn-LR99NVk-mB-6wICI4wupRWo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1588831846,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yHlM6VK94J8jquoEvgn-LR99NVk-mB-6wICI4wupRWo/edit#gid=1588831846"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        20
      ],
      "id": "9e7c2486-ceed-4e26-ba04-f22156b8fdb6",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "HTUm0W8nZdSRPBFt",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "ezeanakanath@gmail.com",
        "additionalFields": {},
        "options": {
          "resolveData": "={{ $node[\"Google Sheets Trigger\"].json[\"Name\"] }} {{ $node['Google Sheets Trigger'].json[\"Email\"] }} {{ $node[\"Google Sheets Trigger\"].json[\"Interest\"] }}"
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        -220,
        20
      ],
      "id": "56b91df7-e763-4279-b41a-336839207e90",
      "name": "HubSpot",
      "credentials": {
        "hubspotAppToken": {
          "id": "iGzm4dk4wBohCLzS",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Google Sheets Trigger\"].json[\"Email\"] }}",
        "subject": "=Thank you, {{ $node[\"Google Sheets Trigger\"].json[\"Name\"] }}!",
        "message": "=Hi {{ $node[\"Google Sheets Trigger\"].json[\"Name\"] }},   We’ve received your request about {{ $node[\"Google Sheets Trigger\"].json[\"Interest\"] }}.   Our team will contact you shortly.  ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        20
      ],
      "id": "eabd2dd7-3856-4e15-94a8-d0d9bca3bfa2",
      "name": "Gmail",
      "webhookId": "e2a86722-716f-4e73-a2ad-953e2abfdf41",
      "credentials": {
        "gmailOAuth2": {
          "id": "anHAY1J0DfXEbPUc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#leads",
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": "{\n  \"text\": \"New lead inquiry received\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🚀 New Lead Submission\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"We've received a new inquiry about *Pricing* from:\\n\\n*Name*: Nathaniel Ezeanaka\\n*Email*: ezeanakanathaniell.@gmail.com\\n*HubSpot ID*: 137872831572\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Quick Actions*\"\n      },\n      \"accessory\": {\n        \"type\": \"button\",\n        \"text\": {\n          \"type\": \"plain_text\",\n          \"text\": \"View in HubSpot\",\n          \"emoji\": true\n        },\n        \"url\": \"https://app.hubspot.com/contacts/137872831572\",\n        \"action_id\": \"button-action\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Processed on July 15, 2025\"\n        }\n      ]\n    }\n  ]\n}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        220,
        20
      ],
      "id": "82223549-a445-44fe-a551-44a899928274",
      "name": "Slack",
      "webhookId": "10f42560-6d8b-4d93-ad6c-7e4a873a67b6",
      "credentials": {
        "slackApi": {
          "id": "43MiyVTXI0CAiM1M",
          "name": "Slack account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54334c47-39e1-40c3-bad1-3f3d8afa5951",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "726f4c86604f9a22dbb96aa9e73dd2c45bf21bfd0b3ce3464bb16a639ab81129"
  },
  "id": "7ToI3t0GQocje0lI",
  "tags": []
}